*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body{
	  background: 	#00BFFF;
    background-image: url(https://media.giphy.com/media/26FL4IWDUYp0y6kTK/giphy.gif);
    background-size: 1550px;

}

header{
	width: 100%;
}

.navegacion{
	width: 1000px;
	margin: 30px auto;
	background: #0000CD;
}

.navegacion ul{
	list-style: none;
}

.menu > li{
	position: relative;
	display: inline-block;
    color: aqua
}

.menu > li > a{
	display: block;
	padding: 17px 67px;
	color: white;
	font-family: 'Open sans';
	text-decoration: none;
}

.menu li a:hover{
	color: #CE7D35;
	transition: all .3s;
}

/* Submenu*/

.submenu{
	position: absolute;
	background: #333333;
	width: 120%;
	visibility: hidden;
	opacity: 0;
	transition: opacity 1.5s;
}

.submenu li a{
	display: block;
	padding: 15px;
	color: #fff;
	font-family: 'Open sans';
	text-decoration: none;
}

.menu li:hover .submenu{
	visibility: visible;
	opacity: 1;
}

h1 {
    font-family: 'Anton', sans-serif;
    color: red
}

h3 {
 font-family: 'Encode Sans Semi Condensed', sans-serif;
    
}

h2 {
    font-family: 'Notable', sans-serif;
    color: darkblue
}

