body {
  width: 70%;
  margin: auto;
  background: white;
  border-style: solid;
      
}

p {
  margin-left: 50px;
  margin-right: 50px;
  text-align: justify;
  font-family: 'Fjalla One', sans-serif;
  font-size: 18px;
}


h1 {
  font-family: 'Alatsi', sans-serif;
  -webkit-text-stroke: 0.3px black;
  color: 	#0000FF;

}

h2 {
  font-family: 'Alatsi', sans-serif;
  margin-right: 50px;
    color: red

}

h3 {
  margin-left: 50px;
  margin-right: 50px;
  text-align: justify;
  font-family: 'Francois One', sans-serif;
    color:  	#228B22
}

html {
  background: 	#04F0F0;
    background-image: url(https://thumbs.gfycat.com/EvilAggressiveIndianpangolin-small.gif);
    background-size: 1550px

}

.mathj {
  font-size: 20px;
}

.CtxtMenu_Attached_0{
  display: none;
}

p.solid {
  border-style: solid;
}
